.footer{


	position: relative;
	@include padding(40px null);

	&:before{

		content: '*****';
		position: absolute;
		top: 0;
		text-align: center;
		width: 100%;
		font-weight: 800;
	}

	&__copy{

		 @include fl(l);
		 font-size: $navigation-font-size;
	}
	&__navigation{
		
		display: none;

        @include screen(mobile-l) {

            display: block;
        }
        
		 @include fl(r);
		 @extend %site-navigation;
		 padding: 0;
	}

}

.footer__module{

	@include margin(50px null 60px);

	&__title{

		font-size: $footer-module-title-size;
		font-family: "HelveticaNeue Bold"
	}

	&__dec{

		@include margin(4px null 10px);
		line-height: 28px;

		a{
			@extend %custom-link;
		}
	}	

	.btn{
		&--secondary{

			margin:20px 0;
			@include screen(mobile-l) {
				margin-left: 20px;
			}
		}
	}
}